#This page is accessed after login at /account/:id and is our read

<h1>Movies rated by <%= @user.username %>:</h1>
</br>
<h2>Click on the title if you wish to update the rating!</h2>
<% @user.movies.each do |m| %>
    <h4><a href="/movies/<%= m.id %>"><%= m.title %></a></h4>
    </br>
    <h4>Your current STARS rating: <%= m.rating %></h4>
    </br>
 <% end %>

