#This is accessed at /movies/:id, via clicking on a movie title on the account page

<h1>Edit Post</h1>
<form action="/movies/<%=@movie.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label><strong>Title:  </strong></label>
    <input type="text" value="<%=@movie.title%>" name="title">
    </br>
    </br>
    <label><strong>Star Rating:</strong></label>
    </br>
    </br>
    <label><strong>1 Star</strong></label>
    <input type="radio" name="rating" value="1">
    </br>
    <label><strong>2 Stars</strong></label>
    <input type="radio" name="rating" value="2">
    </br>
    <label><strong>3 Stars</strong></label>
    <input type="radio" name="rating" value="3">
    </br>
    <label><strong>4 Stars</strong></label>
    <input type="radio" name="rating" value="4">
    </br>
    <label><strong>5 Stars</strong></label>
    <input type="radio" name="rating" value="5">
    </br>
    </br>
    <input type="submit" value="Edit Movie">
</form>
</br>
<h3>Use this button to delete this movie entry</h3>
</br>
<h3 style="color:red;">Warning, cannot be undone!</h3>
</br>
</br>
<form action="/movies/<%=@movie.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete this movie">
</form>