#this is at /new, accessed in the nav bar, just like logout

<h1>New Movie and Rating</h1>
<body>
</br>
<form method="post" action="/movies/new">
    <label>Movie Title: </label>
    <input id="title" type="text" name="title">
    </br>
    </br>
    <label>Give it a rating:</label>
    </br>
    </br>
    
    <input type="radio" name="rating" value="1">
    <label><strong>1 Star</strong></label>
    </br>
    
    <input type="radio" name="rating" value="2">
    <label><strong>2 Stars</strong></label>
    </br>
    
    <input type="radio" name="rating" value="3">
    <label><strong>3 Stars</strong></label>
    </br>
    
    <input type="radio" name="rating" value="4">
    <label><strong>4 Stars</strong></label>
    </br>
    
    <input type="radio" name="rating" value="5">
    <label><strong>5 Stars</strong></label>
    </br>
    </br>
    <input type="submit" value="Submit">
    
</form>
</body>