<div class="container">
<h1>Welcome to the Movie STARS App!!!</h1>
</br>
<h2><strong>STARS</strong> is the "Silly and Totally Arbitrary Rating System"</h2>
<img class= "smaller-image" src="images/The_Simpsons-Jeff_Albertson.png" align="right">
<h3><a href="/login">Log In</a><p>To start rating movies!</p> 
<b>OR</b>
</br>
<a href="/register">Register</a><p> If you are a new user!</p></h3>