<div class="container">
<h1>Welcome to the Movie STARS App!!!</h1>
</br>
<h2><strong>STARS</strong> stands for "Silly and Totally Arbitrary Rating System"</h2>
<a href="/login">Log In</a><p>To start rating movies!</p> 
</br>
<b>OR</b> </br>
</br>
<a href="/register">Register</a><p> If you are a new user!</p>